.color-nav {

  background-color: rgb(0, 0, 0);
  
}

#user {

  font-family: 'Roboto', sans-serif;
  color: #ffffff !important;
}



.nav-link {
  margin: 0px 0px 0px 30px;
  font-family: 'Roboto', sans-serif;
  color: #ffffff !important;
}
.cartBar {

    margin: 0px 100px 15px 30px;
    
    
  }
  
  .cartBar ul li {
  
    list-style: none;
  }
  
 
  
  .cartBar h6 {
  
    font-family: 'Lato';  
    color: #fff;
  }
  
  .cartBar p {
    font-family: 'Lato';  
    font-size: 16px;
    margin: 15px;
    font-weight: 600;
    color: #fff;
  
  }
  
  .shopping-cart-total {
  
    width: 350px;
  }
  
  .cartBar .btn-success {
  
    border-color: rgb(48, 202, 48);
    background-color: transparent;
    font-family: 'Lato';  
  
  }
  
  .cartBar .btn-success:hover {
  
    box-shadow: 0 2px 16px 0 rgba(5, 90, 26, 0.39), 0 2px 50px 0 rgba(8, 138, 40, 0.39);
  }
